<!DOCTYPE html>
<html>
<head>
  <title>3D Satellite Simulation</title>
  <link rel="stylesheet" href="/static/style.css">
  <style> #globe{ width:100%; height:700px; } </style>
</head>
<body>
  <h1>3D Earth Satellite Simulation</h1>
  <div id="globe"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r152/three.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/three@0.152.2/examples/js/controls/OrbitControls.js"></script>
  <script src="/static/globe.js"></script>
</body>
</html>
